<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>循环语句</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.js"></script>
</head>
<body>
<div id="app">
    <P>v-for 指令需要以 site in sites 形式的特殊语法， sites 是源数据数组并且 site 是数组元素迭代的别名。</P>
   <ol>
       <li v-for="site in sites">
           {{ site.name }}
       </li>
   </ol>
    <P>模板中使用 v-for：</P>
    <ul>
        <template v-for="site in sites">
            <li>{{ site.name }}</li>
            <li>--------------</li>
        </template>
    </ul>
    <p>v-for 可以通过一个对象的属性来迭代数据：</p>
    <ul>
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>

    <ul>
        <li v-for="(value,key) in object">
            {{ key }} : {{ value }}
        </li>
    </ul>
    <p>循环出10</p>
    <ul>
        <li v-for="n in 10">
            {{ n }}
        </li>
    </ul>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
           sites:[
               { name: 'dy' },
               { name: 'google' },
               { name: 'taobao' }
           ],
            object: {
                name: 'dy',
                url: 'http://www'
            }
        }
    })
</script>

</body>
</html>